@import "../../styles/vars";

.preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &__frame {
    all: inherit;
  }

  &__loading-spinner {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: $color-assent;
    font-size: 2rem;

    svg {
      animation: 1s spinner infinite linear;
    }
  }

  img {
    all: inherit;
    object-fit: cover;
  }
}